%h1 タイムシフトスケジュール
%form.form-inline{:action => "/", :method => "post"}
  %div.form-group
    %input.form-control{:type => "text", :name => "tag", :placeholder => "タグ"}
  %input.btn.btn-primary{:type => "submit", :value => "登録"}

%dl
  - @registered_tags.each do |tag|
    %dt
      %span.pull-left #{tag}
      %form.tag-delete{:action => "/delete", :method => "post"}
        %input{:type => "hidden", :name => "tag", :value => tag}
        %button.btn.btn-xs.btn-danger{:type => "submit"}
          %span.glyphicon.glyphicon-remove
      - if @results[tag]
        - @results[tag].each do |result|
          %dd
            #{Time.parse(result.startTime).strftime('%m月%d日 %I時%M分')} ~
            %a{:href => result.url, :target => "_blank"} #{result.title}
