%link(rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
%link(rel="stylesheet" type="text/css" href="//getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css")
%link(rel="stylesheet" type="text/css" href="/css/style.css")
%script(src="//codeorigin.jquery.com/jquery-2.0.3.min.js")
%script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")

#wrap
  .container
    .row
      %a{:href => "https://github.com/tsuwatch/autots"} <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
      = yield
#footer
  .container
    %p.text-muted.credit
      %a{:href => "http://tsuwatch.com"} tsuwatch.com
